/* Add your custom fonts here */
@font-face {
    font-family: 'ComicSans';
    src: url('fonts/comicsans/Ldfcomicsanslight-6dZo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: 'PixelFont';
    src: url('fonts/pixel/terminal-grotesque.grotesque-regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: "PublicFont";
    background-color: #ffffff;
}



.main {

    text-align: center;


}


.main #main {
    position: flex;
    inset: 0;
    font-weight: 100;
    width: 35%;
    /* height: fit-content; */
    margin: 24vh 32vw;
}

.main #sub {
    position: flex;
    inset: 0;
    font-weight: 300;
    font-size: 1.2em;
    width: 35%;
    /* height: fit-content; */
    margin: -23.5vh 32vw;
}

.button {
    background-color: #cacaca;
}

#buttonContainer {
    position: flex;
    margin: auto;
    width: 80%;
}

#buttons {
    position: flex;
    /* display: flex; */
    justify-content: center;
    margin: 32vh 0;
}

#buttons button {
    padding: 30px 15px;
    margin: 8px;
    border: 20px;
    border-radius: 100%;
}




/* Remove all video UI elements */
video {
    outline: none;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none !important;
}

video::-webkit-media-controls-volume-slider {
    display: none !important;
}

video::-webkit-media-controls-timeline {
    display: none !important;
}

video::-webkit-media-controls-current-time-display {
    display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

video::-webkit-media-controls-mute-button {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}

/* Firefox */
video::-moz-media-controls {
    display: none !important;
}

/* Remove focus outline */
video:focus {
    outline: none;
}