/* Add your custom fonts here */
@font-face {
    font-family: 'ComicSans';
    src: url('fonts/comicsans/Ldfcomicsanslight-6dZo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: 'PixelFont';
    src: url('fonts/pixel/terminal-grotesque.grotesque-regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "PublicFont";
    src: url('fonts/publicfont/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: "PublicFont";
    background-color: #ffffff;
    /* margin: 0;
    padding: 0; */
}

#bg img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: fit-content;
    height: 100%; */
    /* object-fit: none; */
    object-fit: cover;
    opacity: 0.2;
}

#bg {
    z-index: -1;
    pointer-events: none;
}



.main {
    text-align: center;
    
    /* Comprehensive transition for all properties */
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main.about {
    /* background-color: rgba(124, 226, 187, 0.1); */
}

.main.projects {
    /* background-color: rgba(255, 99, 72, 0.089); */
}

.main.contact {
    /* background-color: rgba(144, 238, 144, 0.1); */
}

.main.links {
    /* background-color: rgba(255, 182, 193, 0.1); */
}

.main.blog {
    /* background-color: rgba(221, 160, 221, 0.1); */
}

/* Title transitions */
.main #main {
    position: flex;
    inset: 0;
    font-weight: 100;
    width: 35%;
    margin: 24vh 32vw;
    
    /* Smooth transitions for position and styling changes */
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.main.projects #main {
    position: flex;
    inset: 0;
    text-align: left;
    font-weight: 100;
    width: calc(120px + 35%);
    margin-top: 10vh; 
    margin-bottom: 10vh;
    margin-left: calc(45px + 6vw);
}

.main #sub {
    position: flex;
    inset: 0;
    font-weight: 300;
    font-size: 1.2em;
    width: 35%;
    margin: -23.5vh 32vw;
    
    /* Smooth transitions for subtitle */
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main.projects #sub {
    position: flex;
    text-align: left;
    inset: 0;
    font-weight: 300;
    font-size: 1.2em;
    width: calc(80px + 35%);
    margin: -10vh calc(45px + 6vw);
}

.projectSection {
    margin-top: 12vh;
    margin-left: calc(45px + 6vw);
    width: 260px;
    /* background-color: #cacaca; */
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: left;
}

.projectSection h1 {
    position: relative;
    font-weight: 300;
    font-size: 1.4em;
    /* background-color: tomato; */
    margin-bottom: -10px;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#ePhODi7nsvp3 {
    animation: ePhODi7nsvp3__m 1200ms linear 1 normal forwards;
}

@keyframes ePhODi7nsvp3__m {
    0% {
        d: path('M103.118153,104.717394C88.396377,118.302176,54.045567,150,54.045567,150C54.045567,150,189.871476,150,189.871476,150');
        animation-timing-function: cubic-bezier(0,0,0,1.095);
    }
    16.666667% {
        d: path('M103.556301,62.282752C108.61946,138.470033,54.045567,150,54.045567,150C54.045567,150,146.635916,150,146.635916,150');
        animation-timing-function: cubic-bezier(0.81,-0.04,1,1);
    }
    33.333333% {
        d: path('M103.118153,104.717394C88.396377,118.302176,54.045567,150,54.045567,150C54.045567,150,189.871476,150,189.871476,150');
        animation-timing-function: cubic-bezier(0,0,0.025,1);
    }
    50% {
        d: path('M103.118153,133.262743C77.880823,134.141231,54.045567,150,54.045567,150C54.045567,150,229.304804,151.380167,229.304804,151.380167');
        animation-timing-function: cubic-bezier(0.845,-0.075,1,1);
    }
    75% {
        d: path('M103.118153,96.896452C103.118153,96.896452,54.045567,150,54.045567,150C54.045567,150,170.154811,151.380167,170.154811,151.380167');
        animation-timing-function: cubic-bezier(0,0,0,1.035);
    }
    100% {
        d: path('M103.118153,104.717394C88.396377,118.302176,54.045567,150,54.045567,150C54.045567,150,189.871476,150,189.871476,150');
    }
}

#ePhODi7nsvp4 {
    animation: ePhODi7nsvp4__m 1200ms linear 1 normal forwards;
}

@keyframes ePhODi7nsvp4__m {
    0% {
        d: path('M103.118154,198.042939C103.118154,198.042939,66.767344,161.564918,52.045568,150.438147');
        animation-timing-function: cubic-bezier(0,0,0,1.095);
    }
    16.666667% {
        d: path('M103.556302,239.294581C100.747826,184.602137,81.957887,161.548724,52.045567,150.438147');
        animation-timing-function: cubic-bezier(0.81,-0.04,1,1);
    }
    33.333333% {
        d: path('M103.118154,198.042939C103.118154,198.042939,66.767343,161.564918,52.045567,150.438147');
        animation-timing-function: cubic-bezier(0,0,0.025,1);
    }
    50% {
        d: path('M103.118154,167.876442C103.118154,167.876442,66.767344,161.564918,52.045568,150.438147');
        animation-timing-function: cubic-bezier(0.845,-0.075,1,1);
    }
    75% {
        d: path('M103.118154,209.500511C103.118154,209.500511,65.628158,168.314589,52.045568,150.438147');
        animation-timing-function: cubic-bezier(0,0,0,1.035);
    }
    100% {
        d: path('M103.118154,198.042939C103.118154,198.042939,66.767344,161.564918,52.045568,150.438147');
    }
}

#ePhODi7nsvp3,
#ePhODi7nsvp4 {
    animation-play-state: paused;
    animation-fill-mode: both;
}

.main #back:hover #ePhODi7nsvp3,
.main #back:hover #ePhODi7nsvp4 {
    animation-play-state: running;
}

.projectSection h1:hover {
    color: #ff0000;
    cursor: pointer;
    border-bottom: 2px solid #ff0000;
    /* margin-top: 5px; */
    /* font-size: 2.2em; */
    /* transform: scale(1.8); */
    /* width: 250px; */
    /* translate: 100px 0px; */
    /* margin-bottom: 20px; */
    /* margin-top: 10px; */
}

.button {
    background-color: #cacaca;
}

#buttonContainer {
    position: flex;
    margin: auto;
    width: 80%;
}

#buttons {
    /* background-color: tomato; */
}

.main #back {
    position: absolute;
    background-color: #00000000;
    border-color: #99000000;
    border-radius: 40px;
    /* width: calc(80px + 35%); */
    top: calc(-10px + 24vh);
    left: calc(-180px + 47vw);
    /* translate: 0 -60px; */
    /* margin-bottom: 10vh; */
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main #back svg path {
    fill: none !important;
    stroke: currentColor;
    stroke-width: 4px;
}

.main.projects #back {
    position: absolute;
    background-color: #00000000;
    border-color: #99000000;
    border-radius: 40px;
    /* width: calc(80px + 35%); */
    top: calc(-10px + 10vh);
    left: calc(-10px + 5vw);
    /* translate: 0 -60px; */
    /* margin-bottom: 10vh; */
    margin-left: 0;
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main #back:hover {
    /* border: 12px red; */
    cursor: pointer;
    scale: 1.2;
}

.main #back:hover svg {
    /* translate: -6px -3px; */
    color: red;
    transition-duration: 0.2s;
}

.main #back:active {
    transition-duration: 0.2s;
    scale: 0.9;
}


.main #buttons {
    position: flex;
    /* display: flex; */
    /* border-top: 2px solid rgb(255, 0, 0); */
    
    justify-content: center;
    margin: 32vh 0vw;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#buttons button {
    /* padding: 30px 15px; */
    margin: 8px;
    /* border: 20px; */
    /* border-radius: 100%; */
    height: 80px;
    width: 80px;
    border-color: #cacaca;
    /* background-color: #bbb; */
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 50%;
    vertical-align: top;
    display: inline-block;
}

svg {
    width: 60px;
    height: 60px;
    color: black;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    stroke-width: 8px;
    transform-origin: center center;
}

#buttons button img {
    height: 60px;
    width: 60px;
    margin-top: 0px;
    transition-duration: 0.4s;
    color: black;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    justify-content: center;
    vertical-align: top;
}

.main.projects #buttonContainer {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    /* background-color: #6b2323a1; */
    /* z-index: -10; */
    /* margin: auto; */
    /* width: calc(80% + 120px); */
}

.main.projects #buttons {
    position: flex;
    /* display: flex; */
    /* border-top: 2px solid rgb(255, 0, 0); */
    justify-content: center;
    margin: 0 0 0 0;
    /* margin-bottom: 0;
    margin-top: max(2vh, calc(56vh - 400px)); */
    float: center;
    /* z-index: 100; */
}

#buttons button:hover {
    background-color: #f6f7be;
    /* border: 12px red; */
    border-color: red;
    border-radius: 30%;
    cursor: pointer;
    height: 90px;
    width: 90px;
}

#buttons button:hover svg {
    justify-content: center;
    vertical-align: top;
    /* translate: -6px -3px; */
    color: red;
    height: 90px;
    width: 90px;
}

#buttons button:hover img {
    justify-content: center;
    vertical-align: top;
    translate: -6px -3px;
    fill: red;
    height: 90px;
    width: 90px;
}

#buttons button:active {
    background-color: #d5d6a1;
    transition-duration: 0.02s;
    border-color: red;
    border-radius: 30%;
    translate: 0px 5px;
    height: 70px;
    width: 70px;
}

#buttons button:active img {
    height: 70px;
    width: 70px;
}

#buttons button:active svg {
    height: 70px;
    width: 70px;
}




/* Remove all video UI elements */
video {
    outline: none;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: none !important;
}

video::-webkit-media-controls-volume-slider {
    display: none !important;
}

video::-webkit-media-controls-timeline {
    display: none !important;
}

video::-webkit-media-controls-current-time-display {
    display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

video::-webkit-media-controls-mute-button {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}

/* Firefox */
video::-moz-media-controls {
    display: none !important;
}

/* Remove focus outline */
video:focus {
    outline: none;
}

/* SVG Animation Controls */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.icon svg {
    /* Preserve SVG animations while allowing CSS control */
    animation-play-state: running;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
}

/* Pause animations on hover if desired */
button:hover .icon svg {
    animation-play-state: running; /* Keep running, or use 'paused' to pause */
}

/* Animation speed control */
.icon-about svg {
    animation-duration: 2s; /* Override SVG animation duration */
}

.icon-projects svg {
    animation-duration: 1.5s;
}

/* CSS animations that work with SVG animations */
@keyframes iconPulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.3); }
}

@keyframes iconRotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes iconBounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}

@keyframes iconFloat {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
}

@keyframes iconGlow {
    0%, 100% { filter: drop-shadow(0 0 4px currentColor); }
    50% { filter: drop-shadow(0 0 7px currentColor); }
}

@keyframes iconWiggle {
    0%, 100% { transform: rotate(0deg); }
    15% { transform: rotate(-7deg); }
    30% { transform: rotate(7deg); }
    45% { transform: rotate(-7deg); }
    75% { transform: rotate(7deg); }
    80% { transform: rotate(-7eg); }
}

/* Apply animations on hover */
button:hover .icon-about svg {
    animation: iconWiggle 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

button:hover .icon-projects svg {
    animation: iconPulse 2s ease-in-out infinite;
}

button:hover .icon-contact svg {
    animation: iconBounce 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

button:hover .icon-links svg {
    /* animation: iconPulse 1s ease-in-out infinite; */
    animation: iconRotate 1.5s cubic-bezier(0.16, 1, 0.3, 1) infinite;
}

button:hover .icon-blog svg {
    /* animation: iconRotate 1.5s ease-in-out infinite; */
    /* animation: iconRotate 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite; */
    animation: iconWiggle 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

/* State-based animations */
.main.about .icon-about svg {
    animation: iconBounce 2s ease-out infinite;
}

.main.projects .icon-projects svg {
    animation: iconRotate 3s linear infinite;
}

.main.contact .icon-contact svg {
    animation: iconWiggle 2s ease-in-out infinite;
}

.main.links .icon-links svg {
    animation: iconPulse 3s linear infinite;
}

.main.blog .icon-blog svg {
    animation: iconRotate 3s linear infinite;
}


/* Combination of CSS + SVG animations */
.icon svg {
    /* This allows both SVG internal animations AND CSS animations to work together */
    transform-origin: center center;
    transition: all 0.3s ease;
}
